.leftDiv {
    width: 50%;
}

.image {
    margin-left: 2rem;
}

.rightDiv {
    width: 50%;
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    background-color: #fafafa;

}