.icon {
    width: 10rem;
    max-height: 2.5rem;
}

.nav_wrapper {
    position: fixed;
    z-index: 1201;
    top: 0;
    background-color: #fff;
    width: 100%;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.menuContainer {
    display: flex;
    align-items: center;
}

.menuIcon {
    display: none;
}

/* .centerContainer {
    width: 40%;
} */

.searchBar {
    display: flex;
    width: 19rem;
    background-color: #fafafa;
}

.dropdown {
    width: 16rem;
    background-color: #fafafa;
}

.serviceDoctorsContainer {
    display: flex;
    justify-content: center;
}



/* Media query for medium screens */
@media (max-width: 900px) {

    .logo {
        display: none;
    }

    .centerContainer {
        display: block;
    }

    .serviceDoctorsContainer {
        display: none;
    }


    .menuIcon {
        display: block;
        /* Show the menu icon on medium screens */
        margin-left: auto;
        /* Push the menu icon to the right */
    }
}